@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::-webkit-scrollbar{
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-track{
  background-color:rgb(25, 27, 27);
}

::-webkit-scrollbar-thumb{
  background-color:rgb(87, 85, 203);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color:rgb(70, 122, 122)
}